:root {
  --limao: #5dd62c;
  --esmeralda: #2edc85;
  --mala: #224f10;
  --dark: #0f0f0f;
  --cinza: #202020;
}
@font-face {
  font-family: "Ragick";
  src: url(./fonts/ragick.otf) format(truetype);
  font-weight: 400;
  font-style: normal;
}
.font-ragick{
  font-family: 'Ragick', sans-serif;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Ragick", sans-serif;
}
body {
  min-height: 100vh;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

.delay-4 {
  animation-delay: 0.8s;
}

.delay-5 {
  animation-delay: 1s;
}
@keyframes cardAppear {
  from {
    opacity: 0;

    transform: translateY(25px) scale(0.96);

    filter: blur(8px);
  }

  to {
    opacity: 1;

    transform: translateY(0) scale(1);

    filter: blur(0);
  }
}

.card-animation {
  opacity: 0;
  animation: cardAppear 0.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  filter: blur(8px);
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);

  transition:
    opacity 0.6s ease,
    transform 0.6s ease,
    filter 0.6s ease;
}
